.navigation
  table
      tr
        %td.home 
        a href="#home" Home
      %tr
        %td.intro <a href="#introduction">Introduction</a></td>
      %tr
        %td.setting-up-your-storefront <a href="#setting-up-your-storefront">Setting Up Your Storefront</a></td>
      %tr
        <td class='preparing-to-open'><a href="#preparing-to-open">Preparing to Open</a></td>
      %tr
        <td class='advertising-your-storefront'><a href="#advertising-your-storefront">Advertising Your Storefront</a></td>
      %tr
        <td class='handling-orders'><a href="#handling-orders">Handling Orders</a></td>
      %tr
        <td class='building-customer-relationships'><a href="#building-customer-relationships">Building Customer Relationships</a></td>
      %tr
        <td class='adding-new-listings'><a href="#adding-new-listings">Adding New Listings</a></td>
      %tr
        <td class='driving-demand'><a href="#driving-demand">Driving Demand</a></td>
