h1 About

.subpage
  h3 Quality Vintage, Unique Goods
  p Our desire is to encourage people to buy quality vintage and unique goods. We believe the value of vintage goods isn't solely in their function, but also in their history. We believe using the goods we already have is important for preserving our natural resources and reducing the impact manufacturing can have on our planet. We also desire to support artisan entrepreneurs. And what better place to find both than Etsy? The Haberdash Fox is a collection of the best menswares on Etsy.