@import "compass/utilities/general/clearfix";

$sidebar_width: 329px;
$content_width: 1060px;
$container_width: $content_width + $sidebar_width;
$gold_color: #c59d5e;
$slate_color: #323236;

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: $slate_color;
  background-color: #f9f8f6;
}

a {
  color: #323236;
  text-decoration: none;

  &:hover {
    // text-decoration: underline;
  }
}

::-moz-selection {
  color: #fff;
  background: $gold_color;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: $gold_color;
  text-shadow: none;
}

.mc_embed_signup {
  text-align: center;
  
}

h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 49px;
  margin-bottom: 50px;
}

h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin-top: -25px;
}

.top-bar {
  height: 41px;
  background: image_url('topbar.bg.gif') repeat-x top left;
  .top-bar-content {
    margin-left: $sidebar_width;
    // width: $content_width;
    color: $gold_color;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.container.main {
  @include pie-clearfix;
  position: relative;
  // width: $container_width;
  width: 100%;

}

.logo {
  width: 320px;
  margin-top: -36px
}

.symbolset {
  color: #c6c4c2;
  margin-right: 20px;
  font-size: 20px;
  position: relative;
  top: 70px;
  &:hover {
    color: #817f7d;
  }
}

.sidebar {
  position: absolute;
  width: $sidebar_width;
  top: 0;
  bottom: 0;
  background: #ecebe9;
  // background: image_url('sidebar.bg.gif') repeat top left;

  ul.submenu {
    border-top: 1px solid #fff;
    padding: 0;
    li {
      margin: 25px 0;
      font-size: .9em;
      font-weight: 400;
    }
  }

  ul.copyright {
    border-top: 1px solid #fff;
    padding: 20px 0;
    li {
      font-size: 10px;
      margin: 10px 0;
      font-weight: 400;
    }
  }

  .nav-list {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 25px;
      margin-left: 0;
      text-align: center;
      list-style-type: none;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      a:hover {
        color: #b05e27; 
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.top-nav {
  display: none;
}

.content {
  padding-bottom: 200px;
  margin-left: $sidebar_width;
  // width: $content_width;
}

