@import "compass/utilities/general/clearfix";

$sidebar_width: 329px;
$content_width: 1060px;
$container_width: $content_width + $sidebar_width;
$gold_color: #c59d5e;
$slate_color: #323236;

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: $slate_color;
  background-color: #f9f8f6;
}

a {
  color: #323236;
  text-decoration: none;

  &:hover {
    // text-decoration: underline;
  }
}

::-moz-selection {
  color: #fff;
  background: $gold_color;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: $gold_color;
  text-shadow: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.top-bar {
  // min-width: $container_width;
  height: 41px;
  background: image_url('topbar.bg.gif') repeat-x top left;

  .top-bar-content {
    margin-left: $sidebar_width;
    // width: $content_width;
    color: $gold_color;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.container.main {
  @include pie-clearfix;
  position: relative;
  // width: $container_width;
  width: 100%;

}

.sidebar {
  position: absolute;
  width: $sidebar_width;
  top: 0;
  bottom: 0;
  background: image_url('sidebar.bg.gif') repeat top left;

  .nav-list {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 25px;
      margin-left: 0;
      text-align: center;
      list-style-type: none;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      a:hover {
        color: #b05e27; 
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.content {
  padding-bottom: 200px;
  margin-left: $sidebar_width;
  // width: $content_width;
}

