// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

// Hide the Add New Photo button in the Item form.
.has_many.photos .button { display: none !important; }

td.item {
  position: relative;
  overflow: hidden;
  margin-top: 190px;

  &:hover {
    .grid-bg, .grid-info {
      opacity: 1;
    }
  }

  .grid-link {
    display: block;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .grid-bg {
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 20px;
    bottom: 20px;
    left: 0;
    background: rgba(#000, 0.6);
    pointer-events: none;
  }

  .grid-info {
    width: 100%;
    position: absolute;
    z-index: 101;
    margin-left: -10px;
    opacity: 0;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-size: 14px;
    font-weight: normal;
    pointer-events: none;
  }
}