// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/general/clearfix";

.item-grid {
  @include clearfix;
  padding: 7px 20px;

  .item {
    width: 320px;
    height: 320px;
    background-size: cover;
    background-position: 50% 50%;
    float: left;
    margin: 10px;

    &:hover {
      .info {
        display: block;
      }
    }
  }
}

.back {
  font-size: 18px;
  font-weight: 400;
  color: #b05e27;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 30px 0px 8px 0;
  width: 100%;
  &:hover {
    // @include box-shadow(#e3e1df 1px 1px 1px 1px inset); 
  }
}

.detail {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  .photos {
    width: 100%;
    margin-bottom: 30px;
  }
}

.description {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  padding: 5%;
}

.meta {
  margin-right: auto;
  margin-left: auto;
  width: 295px;
  position: relative;
}

.price {
  font-size: 34px;
  font-weight: 600;
  // margin-right: 20px;
  float: left;
  padding-top: 4px;
  text-align: right;
  width: 100px;
}

.purchase {
  &:hover {
    text-decoration: none;
    background: #b58f54;
  }
  padding: 12px 22px 10px 22px;
  border-radius: 5px;
  background: #c59d5e;
  color: #fff;
  display: inline-block;
  float: right;
  .purchase a {
    display: block;
  }
}

.info {
  background: rgba(197, 157, 94, 0.85);
  height: 280px;
  width: 250px;
  padding: 40px 35px 0px 35px;
  position: relative;
  display: none;

  .name {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
  }

  .hover-price {
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    font-weight: 600;
    right: 35px;
  }
}

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 1403px) {

  .item-grid {
    @include clearfix;
    padding: 7px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 775px) and (max-width: 1040px) {

  .item-grid {
    @include clearfix;
    padding: 7px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    }

    .sidebar {
      width: 290px;
    }
    .content {
      margin-left: 290px;
    }
    .logo {
      width: 285px;
    }
    .sidebar-top{
      margin-left: -39px;
    }

    h1, h2{
      font-size: 40px;
    }

    .top-bar .top-bar-content {
      margin-left: 290px;
      color: #C59D5E;
      text-align: center;
      font-size: 14px;
      font-weight: lighter;
      line-height: 44px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 850px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 500px) and (max-width: 775px) {

    .item-grid {
    @include clearfix;
    padding: 7px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    }

    .back {
      display: none;
    }

    .top-nav {
      display: block;
      height: 80px;
      background: #ecebe9;
      width: 100%;
      .menu {
        background: #cbcac9;
        width: 80px;
        height: 80px;
        float: right;
      }
      .logotype {
        width: 70%;
        float: left;
        margin-left: 10%;
      }
    }

    .sidebar {
      display: none;
    }
    .content {
      margin-left: auto;
      margin-right: auto;
    }
    .sidebar-top{
      margin-left: -39px;
    }

    .mobile-menu {
      font-size: 1.5em;
      display: block;
      height: 36px;
      width: 24px;
      padding: 14px 24px;
    }

    h1, h2{
      font-size: 40px;
    }
    .top-bar {
      height: 28px;
    }
    .top-bar .top-bar-content {
      margin-left: 0px;
      color: #C59D5E;
      text-align: center;
      font-size: 12px;
      font-weight: lighter;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (max-width: 500px) {

    .item-grid {
    @include clearfix;
    padding: 7px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    }

    .back {
      display: none;
    }

    .top-nav {
      display: block;
      height: 60px;
      background: #ecebe9;
      .menu {
        background: #cbcac9;
        width: 60px;
        height: 60px;
        float: right;
      }
      .logotype {
        width: 280px;
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
      }
    }

    .mobile-menu {
      font-size: 1.5em;
      display: block;
      height: 36px;
      width: 24px;
      padding: 14px 18px;
    }

    .sidebar {
      display: none;
    }
    .content {
      margin-left: auto;
      margin-right: auto;
    }
    .sidebar-top{
      margin-left: -39px;
    }

    h1, h2{
      font-size: 36px;
      margin-top: 25px;
      margin-bottom: 8px;
    }
    .top-bar {
      height: 25px;
    }
    .top-bar .top-bar-content {
      margin-left: 0px;
      color: #C59D5E;
      text-align: center;
      font-size: 8px;
      font-weight: lighter;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }