// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/general/clearfix";

.item-grid {
  @include clearfix;
  padding: 7px 20px;

  .item {
    width: 320px;
    height: 320px;
    background-size: cover;
    background-position: 50% 50%;
    float: left;
    margin: 7px;

    &:hover {
      .info {
        display: block;
      }
    }

  }
}

.detail {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  position: relative;
  .photos {
    width: 570px;
    margin-bottom: 30px;
  }
}

.description {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
}

.meta {
  margin-right: auto;
  margin-left: auto;
  width: 295px;
}

.price {
  font-size: 34px;
  font-weight: 600;
  // margin-right: 20px;
  float: left;
  padding-top: 4px;
  text-align: right;
  width: 100px;
}

.purchase {
  &:hover {
    text-decoration: none;
    background: #b58f54;
  }
  padding: 12px 22px 10px 22px;
  border-radius: 5px;
  background: #c59d5e;
  color: #fff;
  display: inline-block;
  float: right;
  .purchase a {
    display: block;
  }
}

.info {
  background: rgba(197, 157, 94, 0.85);
  height: 280px;
  width: 250px;
  padding: 40px 35px 0px 35px;
  position: relative;
  display: none;

  .name {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
  }

  .hover-price {
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    font-weight: 600;
    right: 35px;
  }
}