// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/general/clearfix";
@import "compass";

$sidebar_width: 329px;
$content_width: 1060px;
$container_width: $content_width + $sidebar_width;
$gold_color: #c59d5e;
$slate_color: #323236;

.item-grid {
  @include clearfix;
  // padding: 5%;
  text-align: center;

  .item {
    display: inline-block;
    width: 320px;
    height: 320px;
    background-size: cover;
    background-position: 50% 50%;
    vertical-align: top;
    // float: left;
    margin: 15px;
    &:hover {
      .info {
        @include opacity(1);
      }
    }
    .info {
      @include transition(all 0.4s ease);
      @include opacity(0);
      background: rgba(197, 157, 94, 0.85);
      height: 280px;
      width: 250px;
      padding: 40px 35px 0px 35px;
      position: relative;
      .name {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        text-align: left;
         -ms-word-break: break-all;
             word-break: break-all;

             // Non standard for webkit
             word-break: break-word;

        -webkit-hyphens: auto;
           -moz-hyphens: auto;
                hyphens: auto;
      }
      .hover-price {
        color: #fff;
        font-size: 30px;
        position: absolute;
        bottom: 15px;
        font-weight: 600;
        right: 35px;
      }
    }
  }
}

.back {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 21px 0px 4px 0;
  // width: 62px;

  a {
    color: #b05e27;
  }

  a:hover {
    @include box-shadow(#e3e1df 0px -5px inset);
  }
  .ss-left {
    font-size: 12px;
    margin-right: 4px;
  }
}

.detail {
  max-width: 600px;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
  .photos {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact {
  text-align: center;
  min-height: 200px;
}

.description {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  padding: 10% 6%;
   -ms-word-break: break-all;
       word-break: break-all;

       // Non standard for webkit
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.subpage {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  padding: 0 6%;
}

.title {
   -ms-word-break: break-all;
       word-break: break-all;

       // Non standard for webkit
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.meta {
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 295px;
  position: relative;
}

.box {
  background: #ecebe9;
  height: 43px;
  width: 100%;
  padding: 15px 0;
  margin-top: 50px;
  border-radius: 3px;
  .text {
    float: left;
    width: 60%;
    padding-top: 12px;
    font-size: 15px;
    margin-left: 25px;
  }
  .purchase {
    float: right;
    position: relative;
    font-size: 15px;
    margin-right: 25px;
  }
}

.price {
  font-size: 34px;
  font-weight: 600;
  // margin-right: 20px;
  padding-top: 4px;
  text-align: right;
  width: 100px;
  position: absolute;
  left: 0;
}

.purchase {
  &:hover {
    text-decoration: none;
    background: #b58f54;
  }
  padding: 12px 22px 10px 22px;
  border-radius: 5px;
  background: #c59d5e;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  .purchase a {
    display: block;
  }
}

.footer {
  display: none;
}

h1, h2{
  padding: 0 3%;
}

.iosSlider {
  // required
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 500px;

  .slider {
    // required
    width: 100%;
    height: 100%;

    .slide {
      // required
      float: left;
      width: 100%;
      height: 500px;
      background-position: center center;
      background-size: cover;
    }
  }
}

.slide-selectors {
  position: relative;
  bottom: -20px;
  width: 50%;
  margin: 0 auto;
  z-index: 1;
  height: 10px;
  text-align: center;

  .item {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #505050;
    margin: 0 0 0 10px;
    @include opacity(0.25);
    @include border-radius(100px);

    &.selected {
      background: #505050;
      @include opacity(1);
    }
  }
}

.scrollbar {
  position: relative;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 0 auto;
  z-index: 1;
}

.scrollleft, .scrollright {
  color: $gold_color;
  font-size: 2em;
  position: absolute;
  z-index: 100;
  top: 250px;
  left: -55px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollright {
  left: 620px;
}


.mobile-navigation {
  display: none;
  position: fixed;
  z-index: 10000;
  right: 10007px;
  height: 101%;
  width: 100%;

  table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
  }

  tr {
    padding-top: 10%;
    height: 10%;
  }

  td {
    position: relative;
    right: 0;
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 4em;
    background: $gold_color;

    @include transition-property(right);
    @include transition-duration(0.5s);

    &.active {
      right: -10007px;
    }

    &.home {
      background: $gold-color;
    }

    &.clothing {
      background: lighten( $gold-color, 5% );
    }

    &.accessories {
      background: lighten( $gold-color, 10% );
    }

    &.shoes {
      background: lighten( $gold-color, 15% );
    }

    &.outdoor {
      background: lighten( $gold-color, 20% );
    }

    &.housewares {
      background: lighten( $gold-color, 25% );
    }

    &.art {
      background: lighten( $gold-color, 30% );
    }

    a {
      font-style: normal;
      text-transform: uppercase;
      font-size: .7em;
      color: #fff;
      text-decoration: none;
      margin-left: 5%;
      // @include text-shadow( 0px 2px 2px rgba(0,0,0,0.3));
      display: block;
    }
  }
}

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 1403px) {
    .item-grid {
      .item {
        margin: 15px;
        }
      }
    .footer {
      display: none;
    }
    .box {
      background: #ecebe9;
      height: 43px;
      width: 100%;
      padding: 15px 0;
      margin-top: 50px auto 0 auto;
      border-radius: 3px;
      .text {
        float: left;
        width: 52%;
        padding-top: 4px;
        font-size: 15px;
        margin-left: 25px;
      }
      .purchase {
        float: right;
        position: relative;
        font-size: 15px;
        margin-right: 25px;
      }
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 960px) and (max-width: 1040px) {
  .footer {
    display: none;
    }
  .item-grid {
    .item {
      width: 300px;
      height: 300px;
      display: inline-block;
      margin: 10px;
      .info {
        background: rgba(197, 157, 94, 0.85);
        height: 280px;
        width: 250px;
        padding: 20px 25px 0px 25px;
        position: relative;
      }
    }
  }

    .sidebar {
      width: 290px;
    }
    .content {
      margin-left: 290px;
    }
    .logo {
      width: 285px;
    }
    .sidebar-top{
      margin-left: -39px;
    }

    h1, h2{
      font-size: 40px;
      padding: 0 3%;
    }

    .scrollleft, .scrollright {
      display: none;
    }

    .top-bar .top-bar-content {
      margin-left: 290px;
      color: #C59D5E;
      text-align: center;
      font-size: 12px;
      font-weight: lighter;
      line-height: 44px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (min-width: 775px) and (max-width: 960px) {
  
  .mobile-navigation {
    display: block;
  }

  .footer {
    display: none;
    }
  .item-grid {
    @include clearfix;
    padding: 7px 20px;
    .item {
      width: 320px;
      height: 320px;
      background-size: cover;
      background-position: 50% 50%;
      display: inline-block;
      margin: 15px;
      }
    }

    .sidebar {
      width: 290px;
    }
    .content {
      margin-left: 290px;
    }
    .logo {
      width: 285px;
    }
    .sidebar-top{
      margin-left: -39px;
    }

    h1, h2{
      font-size: 40px;
      padding: 0 3%;
    }

    .top-bar .top-bar-content {
      margin-left: 290px;
      color: #C59D5E;
      text-align: center;
      font-size: 12px;
      font-weight: lighter;
      line-height: 44px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .scrollleft, .scrollright {
      display: none;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 500px) and (max-width: 775px) {

    .item-grid {
      padding: 0;
      .item {
        width: 320px;
        height: 320px;
        background-size: cover;
        background-position: 50% 50%;
        margin: 35px 15px;
        position: relative;
        display: inline-block;
        .info {
          opacity: 1;
          height: 45px;
          width: 320px;
          position: absolute;
          padding: 0;
          top: 100%;
          background: none;
          .name {
            font-size: 18px;
            font-weight: 400;
            color: $slate_color;
            position: absolute;
            left: 0;
            bottom: 8px;
             -ms-word-break: break-all;
                 word-break: break-all;

                 // Non standard for webkit
                 word-break: break-word;

            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;

            // truncation
            p {
              margin: 0;
              width: 220px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;  // for Opera 9 & 10
            }
          }
          .hover-price {
            color: $slate_color;
            font-size: 24px;
            position: absolute;
            bottom: 8px;
            font-weight: 600;
            right: 0;
          }
        }
      }
    }


    .mobile-navigation {
      display: block;
    }

    .iosSlider {
      // required
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 500px;

      .slider {
        // required
        width: 100%;
        height: 320px;

        .slide {
          // required
          float: left;
          width: 100%;
          height: 500px;
          background-position: center center;
          background-size: cover;
        }
      }
    }

    .back.top {
      display: none;
    }

    .sidebar {
      display: none;
    }
    .content {
      margin-left: auto;
      margin-right: auto;
      padding-top: 80px;
    }
    .sidebar-top{
      margin-left: -39px;
    }

    .mobile-menu {
      font-size: 1.5em;
      display: block;
      height: 36px;
      width: 24px;
      padding: 14px 24px;
      cursor: pointer;
    }

    h1, h2{
      font-size: 40px;
      margin-top: 6%;
      margin-bottom: 8px;
    }
    .top-bar {
      height: 28px;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 5000;
    }
    .top-bar .top-bar-content {
      margin-left: 0px;
      color: #C59D5E;
      text-align: center;
      font-size: 12px;
      font-weight: lighter;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .top-nav {
      display: block;
      height: 60px;
      background: #ecebe9;
      width: 85%;
      text-align: center;
      position: fixed;
      top: 28px;
      z-index: 5000;

    }
    .menu {
      background: #cbcac9;
      width: 15%;
      height: 60px;
      text-align: center;
      position: fixed;
      top: 28px;
      right: 0;
      z-index: 5000;
      }
    .logotype {
      width: 90%;
      margin-top: 3px;
      max-width: 400px;
    }

    .slogan {
      margin: 0px auto -82px auto;
      display: block;
      width: 100%;
      position: relative;
      z-index: 500;
    }

    h3 {
      margin-top: 0;
      font-size: 18px;
    }

    .mobile-menu {
      font-size: 1.5em;
      display: block;
      height: 36px;
      width: 100%;
      padding: 14px 0;
    }
    .footer {
      display: block;
      background: #c6c4c2;
      position: relative;
      ul.copyright {
        display: none;
      }
      ul.submenu {
        display: inline-block;
        width: 100%;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        li {
          text-align: center;
          padding: 0 10%;
          font-size: 1em;
          display: inline;
        }
      }

      .bottom-bar {
        width: 100%;
        background: image_url('topbar.bg.gif') repeat-x top left;
        color: $gold_color;
        text-align: center;
        font-size: 11px;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 0 6px 0;
        display: block;
        position: relative;
      }
    }
    .scrollleft, .scrollright {
      display: none;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 500px) {

  .mobile-navigation {
    display: block;
  }

  .box {
    background: #ecebe9;
    height: 43px;
    width: 100%;
    padding: 15px 0;
    margin-top: 50px auto 0 auto;
    border-radius: 3px;
    .text {
      float: left;
      width: 50%;
      font-size: 12px;
      margin-left: 12px;
    }
    .purchase {
      float: right;
      position: relative;
      font-size: 12px;
      margin-right: 12px;
      padding: 10px
    }
  }

  .item-grid {
    padding: 0;
    .item {
      display: inline-block;
      width: 290px;
      height: 290px;
      background-size: cover;
      background-position: 50% 50%;
      margin: 35px 15px;
      position: relative;
      .info {
        opacity: 1;
        height: 45px;
        width: 290px;
        position: absolute;
        padding: 0;
        top: 100%;
        background: none;
        .name {
          font-size: 18px;
          font-weight: 400;
          color: $slate_color;
          position: absolute;
          left: 0;
          bottom: 8px;
           -ms-word-break: break-all;
               word-break: break-all;

               // Non standard for webkit
               word-break: break-word;

          -webkit-hyphens: auto;
             -moz-hyphens: auto;
                  hyphens: auto;

          // truncation
          p {
            margin: 0;
            width: 220px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;  // for Opera 9 & 10
          }
        }
        .hover-price {
          color: $slate_color;
          font-size: 24px;
          position: absolute;
          bottom: 8px;
          font-weight: 600;
          right: 0;
        }
      }
    }
  }

  .iosSlider {
    // required
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 290px;

    .slider {
      // required
      width: 100%;
      height: 290px;

      .slide {
        // required
        float: left;
        width: 100%;
        height: 300px;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  .back.top {
    display: none;
  }


  .top-nav {
    display: block;
    height: 50px;
    background: #ecebe9;
    width: 85%;
    text-align: center;
    position: fixed;
    top: 28px;
    z-index: 5000;
  }

  .menu {
    background: #cbcac9;
    width: 15%;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 28px;
    right: 0;
    z-index: 2;
  }

  .logotype {
    width: 90%;
    margin-top: 5px;
  }

  .mobile-menu {
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .sidebar {
    display: none;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
    padding-top: 80px;
  }
  .sidebar-top{
    margin-left: -39px;
  }

  h1, h2{
    font-size: 30px;
    margin-top: 6%;
    margin-bottom: 8px;
  }
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  .top-bar {
    height: 28px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
  }
  .top-bar .top-bar-content {
    margin-left: 0px;
    color: #C59D5E;
    text-align: center;
    font-size: .5em;
    font-weight: lighter;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .slogan {
    margin: -2px auto -60px auto;
    display: block;
    width: 100%;
    position: relative;
    z-index: 500;
  }

  .footer {
    display: block;
    background: #c6c4c2;
    position: relative;
    ul.copyright {
      display: none;
    }
    ul.submenu {
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      padding: 0;
      text-align: center;
      li {
        text-align: center;
        padding: 0 7%;
        font-size: .9em;
        display: inline;
      }
    }
    .bottom-bar {
      width: 100%;
      background: image_url('topbar.bg.gif') repeat-x top left;
      color: $gold_color;
      text-align: center;
      font-size: .5em;
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px 0 6px 0;
      display: block;
      position: relative;
    }
  }
  .scrollleft, .scrollright {
    display: none;
  }

  .mobile-navigation {
    td {
      a {
        font-size: .5em;
      }
    }
  }

}
